body{
    margin: 0;
    padding: 0;
    background-color: rgb(75, 138, 138);
}
.container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.img{
    width: 350px;
    padding: 100px;
}

.timer{
    margin-top: -350px;
    font-size: 130px;
}

.areaBtn{
    margin-top: 120px;
    display: flex;
    justify-content: space-between; 
}

.botao{
    background-color: white;
    text-align: center;
    
    border-radius: 10px;
    margin: 0px 20px;
    width: 100px;
    height: 20px;
    padding: 10px 0px;
    
    font-weight: bolder;
}

.botao:hover{
    cursor: pointer;
}

.botao:active{
    background-color: rgb(107, 107, 107);
    color: white;
    cursor: pointer;

}